.card {
    border-radius: 25px;
    /* border: 5px solid var(--lightest); */
    background: lightgray;
    margin: 10px;
    padding: 5px;
    flex: auto;
    /* align-content: flex-start; */
  }

  .graphHeader {
      margin: 10px;
      text-align: center;
  }

  .lineChart {
      height: 75em;
      width: 75em;
  }